<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'write' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>제목: </p><input type="text" name="title">
    <p>내용: </p><input type="text" name="text">
    <input type="file" name="image" multiple>
    <input type="submit" value="작성">
    </form>
</body>
</html>